<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <add key="DecisionCritical.sql_server_connection_string" value="Data Source=dci01;Initial Catalog=Suite_TESTING;user id=edr_user;password=nolatwain;" />
  <add key="CreditCardProcessorUrl" value="https://secure.authorize.net/gateway/transact.dll"/>
  <add key="Authorize.Net_apiLogin" value="9Qrh5V97Gs"/>
  <add key="Authorize.Net_TransactionKey" value="98H4Z8sqy5zs77Aw"/>
  <add key="Authorize.Net_testMode" value="false"/>

  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SystemSupport.SiteConfiguration" value="{          
      Name             : 'System Support',          
      Host             : 'http://systemsupport.dcidevtest.net',
      DCIUrl           : 'http://gen2.dcidevtest.net',
      LanguageDefault  : 'en-US',
      ScriptsPath      : '~/content/scripts/',
      CssPath      : '~/content/css/',
      ImagesPath       : '~/content/Images/',
      WebSiteRoot      : 'SystemSupport.Web' , 
      SuiteSiteFullPath   : 'D://DecisionCritical//Suite//'}" />
</appSettings>
