@model CompanyViewModel
@using SystemSupport.Web
@using SystemSupport.Web.Controllers
@using HtmlTags

@{ Layout = "~/Views/Shared/_FormLayout.cshtml"; }

@section HeaderJavascript{
}

@section additionalHeaderButtons
{
    <button class="emailTemplates" title="@WebLocalizationKeys.EMAIL_TEMPLATES"></button>
}
    <input type="hidden" id="EntityId" name="EntityId" value="@Model.Company.EntityId" />
    <div class="row">
        @Html.SubmissionFor(x=>x.Company.Name).Site("5").ToHtmlTag()
        @Html.SubmissionFor(x => x.Company.HomeUrl).Site("5").ToHtmlTag()
    </div>
