<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <add key="DecisionCritical.sql_server_connection_string" value="Data Source=(local);Initial Catalog=DecisionCriticalSuite_DEV;user id=edr_user;password=nolatwain;" />
  <!--            <add key="DecisionCritical.sql_server_connection_string" value="Data Source=sandbox;Initial Catalog=DecisionCriticalSuite_DEV;user id=edr_user;password=nolatwain;" />-->
  <!--    <add key="DecisionCritical.sql_server_connection_string" value="Data Source=dci01;Initial Catalog=Suite_QA;user id=edr_user;password=nolatwain;" />-->
  <!--    <add key="DecisionCritical.sql_server_connection_string" value="Data Source=174.122.198.242;Initial Catalog=Suite_STAGING;user id=edr_user;password=nolatwain;" />-->


</appSettings>
