@model ClientViewModel
@using SystemSupport.Web
@using SystemSupport.Web.Controllers
@using CC.Core.Html.CCUI
@using HtmlTags

@{ Layout = "~/Views/Shared/_FormLayout.cshtml"; }

@section HeaderJavascript{
}

@section ExtraContentHeaderButtons
{
    <button class="emailTemplates" title="@WebLocalizationKeys.EMAIL_TEMPLATES"></button>
}

<div class="row">
    @Html.SubmissionFor(x=>x.Name).Size("5").ToHtmlTag()
    @Html.SubmissionFor(x => x.ZipCode).Size("5").ToHtmlTag()
</div>
